<div class="container">
  <div class="row">
    <div class="col">
      <circle-progress #circleProgress
      [percent]="percent"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [startFromZero]="false"
      [animation]="true"
      [animationDuration]="300"></circle-progress>
    </div>

    <div class="col" (click)=startTimer(60) >
      48535451
    </div>
    <div class="col" (click)=startTimer(120)>
      45916544
    </div>
  </div>
  <div class="row">
    <div class="col">
      7159412
    </div>
    <div class="col">
      <h1>{{numberOfLog}}</h1>
    </div>
    <div class="col">
      85423
    </div>
  </div>
  <div class="row">
    <div class="col">
      8445698489
    </div>
    <div class="col">
      74845616541
    </div>
    <div class="col">
      2
    </div>
  </div>
</div>
